.site-footer
{
	padding-bottom: calc(var(--vspace) / 2);
	padding-top: var(--vspace);
}
.site-header 
{
	padding-bottom: var(--vspace);	padding-block: var(--vspace);
	padding-top: calc(var(--vspace) / 2);
}

.site-header
{
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	.site-logo
	{
		font-size: 1em; /* 16px /16 */
		font-weight: 700;
		margin-inline-end: 2em;

		&:not(:hover) 
		{
			text-decoration: none;
		}
	}

	.site-nav 
	{
		display: flex;
		padding: 0;
		margin: 0;
		list-style: none;

		.site-nav-link
		{
			display: inline-block;
			margin-inline-end: 1em;
			text-decoration: none;
			font-size: 1.3em;
			font-family: var(--font-printer);

			&:not(:hover) 
			{
				text-decoration: none;
			}

			&[aria-current="page"] 
			{
				text-decoration: underline;
				color: var(--link-text-color-active);
			}
		}
	}

	@media screen and (max-width: 600px) 
	{
		.site-header
		{
			flex-direction: column;
			gap: 0rem;
		}
		.site-nav
		{
			width: 100%;
			justify-content: space-between;
			.site-nav-link
			{
				margin-inline-end: 0;
			}
		}
		.site-logo
		{
			width: 100%;
			margin: 0 0 0.5em 0;
			picture
			{
				width: 100%;
				justify-content: center;
				--logo-size: 4.5rem;
			}
		}
	}

	/* even smaller */
	@media screen and (max-width: 350px) 
	{
		.site-nav
		{
			flex-direction: column;
		}
	}
}

.site-wrapper
{
	margin: 0 auto;
	max-width: 50em;
	padding-inline: calc(var(--vspace) / 2);
	position: relative;
}

article .page-content ol, 
article .page-content ul
{
	background-color: var(--text-background-color);
}

.site-main 
{
	font-size: var(--article-font-size);
	padding: 0 0;
	position: relative;
}

.site-main .page-content p:has(img)
{
	max-width: 100%;
	height: fit-content;
	width: 100%;
	background-color: transparent;
	display: flex;
	place-content: center;

	picture
	{
		display: flex;
		width: fit-content;

	}

	img
	{
		object-fit: contain;
		max-height: 80svh;
		display: flex;
		height: auto;
		width: 100%;
		margin: auto 0;
		background-color: white;
	}
}

.site-footer 
{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.post-navigation-list,
.pagination-navigation-list
{
	display: grid;
	grid-template-columns: 1fr 1fr;
	list-style: none;
	padding: var(--vspace) 0 0 0;
	margin: 0;
	height: 100%;

	.post-navigation-item,
    .pagination-navigation-item
	{
		background-color: transparent;
	}

	background-color: transparent;

	.post-navigation-link,
    .pagination-navigation-link
	{
		text-decoration: none;
		height: 100%;
		display: block;

		.post-navigation-title
		{
			overflow: hidden;
			display: -webkit-box;
			-webkit-box-orient: vertical;
			text-decoration: underline;
			line-clamp: 1;
			-webkit-line-clamp: 1;
		}
	}

	.post-navigation-prev,
    .pagination-navigation-prev,
    .post-navigation-back:first-child,
    .pagination-navigation-back:first-child
	{
		justify-self: flex-start;
	}

	.post-navigation-next,
    .pagination-navigation-next,
    .post-navigation-back:last-child,
    .pagination-navigation-back:last-child
	{
		justify-self: flex-end;
		text-align: right;
	}
}

.site-main .page-title-wrapper
{
	height: fit-content;
	display: flex;
	flex-direction: column;
}
.site-main .page-title
{
	width: 100%;
	height: 100%;
	background-color: var(--heading-background-color);
	margin: 0;
}

@media screen and (max-width: 420px)
{
	.site-main .page-title
	{
		width: 100%;
	}
}

pre[class*="language-"],
code[class*="language-"] 
{
  font-size: 1rem !important;        /* Change this to your preferred size */
  line-height: 1.5rem !important;                     /* Gives the code some breathing room */
  font-family: var(--font-vcr) !important; /* Optional: enforce your preferred code font */
  border-radius: 0 !important;
}
pre[class*="language-"]
{
	margin: 0 !important;
}

.page-content
{
	padding-top: var(--vspace);
}