
/* global resets & base */
*, *::before, *::after 
{
    box-sizing: border-box;
}

body
{
    display: flex;
    flex-direction: column;
}

html
{
    font-family: 'Courier New';
}

p,li,a
{
    font-size: 11pt;
}

pre[class*="language-"],
code[class*="language-"] 
{
    font-size: 9pt !important;            
    border-radius: 0px !important;
    font-family: 'Courier New' !important;
}

pre[class*="language-"] 
{
    margin: 0 !important;
    margin-block: 0 !important;
    border: none;
}

h1,h2,h3,h4,h5,h6
{
    font-size: 12pt;
}

img, picture, svg, video 
{
    display: block;
    max-width: 100%;
}

img
{
    object-fit: contain;
    height: fit-content;
}