*, *::before, *::after 
{
    box-sizing: border-box;
}

*
{
    margin: 0;
    padding: 0;
    font: inherit;
}

html
{
    font-size: var(--main-font-size);
    /*scrollbar-gutter: stable both-edges;*/
}

pre[data-language]
{
    letter-spacing: normal;
    code
    {
        font-size: 0.8rem;
        font-family: monospace;
    }
}

img,picture,svg,video
{
    display: block;
    max-width: 100%;
    height: auto;
}


body
{
    font-family: var(--text-font);
    line-height: var(--main-line-height);
    letter-spacing: var(--main-letter-spacing);
    display: grid;
    grid-template-rows: var(--header-height) 1fr;
}

body > div
{
    display: flex;
    width: 100svw;
    flex-direction: column;
}

h1,h2,h3,h4,h5,h6
{
    font-size: 1.2rem;
    font-weight: 700;
}

* + p,
* + img,
* + ul,
* + ol,
* + pre,
* + h1,
* + h2,
* + h3,
* + h4
{
    margin-top: 0.8rem;
}

ul,ol
{
    padding-left: 2rem;
}


a
{
    color: var(--text-color);
    text-decoration: none;

    &:hover
    {
        color: var(--text-color-invert);
    }
}

