@media (max-width: 700px) 
{
    :root
    {
        --header-height: 60px;
        --site-padding: 1rem;

        --main-font-size: 15px;
        --main-line-height: 100%;
        --main-letter-spacing: -0.03rem;

        --content-width: none;

        --text-color: black;
        --text-color-invert: hotpink;
    }

    .post-list-plain
    {
        gap: 2rem;
    }

    .site-logo
    {
        margin-top: 1%;
        display: inline;
        width: 100%;
        height: 100%;
        margin-left: 20px;

        .site-logo-img
        {
            height: 135%;
            width: fit-content;
        }
        z-index: 200;
    }

    .site-header-wrapper
    {
        position: sticky;
        top: 0;
        outline: 2pt solid hotpink;
        height: var(--header-height);
    }

    .site-header
    {
        position: fixed;
        top: 0;
        display: flex;
        flex-direction: row;
        width: 100%;
        background-color: black;
        justify-content: space-between;
        padding: 0.5rem;
    }

    .site-burger
    {
        height: fit-content;
        width: 2.5rem;
        background-color: transparent;
        display: flex !important;
        flex-direction: column;
        justify-content: space-around;
        border: none;
        transform: rotate(0deg);
        transition: 0.2s all ease-in-out;

        color: white;

        svg 
        {
            fill: white;
        }
    }
    .site-nav
    {
        flex-direction: column;
        height: 100%;
        width: 100%;
        background-color: white;
        width: 50%;
        justify-content: start;
        gap: 1rem;
        padding: 1rem;
    }
    .site-nav-link
    {
        font-size: 1.4rem;
        letter-spacing: -0.1rem;
        color: black;
    }
    .site-nav-wrapper
    {
        position: fixed;
        opacity: 1;
        background-color: rgba(0, 0, 0, 0.4);
        transition: all 0.2s ease-in-out;
        width: 0%;
        height: 100%;
        top: var(--header-height);
        left: -100%;
        margin: 0;
    }

    .menu-open .site-nav-wrapper
    {
        display: flex;
        opacity: 1;
        left: 0%;
        width: 100%;
        
    }
    .menu-open .site-burger
    {
        transform: rotate(90deg);
    }

    html:has(.menu-open),
    body:has(.menu-open),
    body.menu-open {
        overflow: hidden;
    }

}