:root
{
    --header-height: 120px;
    --footer-height: 20px;
    --site-padding: 1.25rem;

    --text-font: "Arial";

    --main-font-size: 150%;
    --main-line-height: 100%;
    --main-letter-spacing: -0.05rem;

    --content-width: 70ch;

    --text-color: black;
    --text-color-invert: hotpink;
}