:root
{
    --header-height: 70px;
    --footer-height: 20px;
    --site-padding: 1.25rem;

    --text-font: "Courier New";

    --main-font-size: 65%;
    --main-line-height: 100%;
    --main-letter-spacing: -0.04rem;

    --content-width: 70ch;

    --text-color: black;
    --text-color-invert: hotpink;
}