.site-header
{
    padding-top: 1rem;
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    place-content: center;
    align-items: center;
}

.site-logo
{   
    display: inline;
    width: fit-content;
    height: 100%;

    .site-logo-img
    {
        height: 100%;
        width: fit-content;
    }
}

.site-nav-wrapper
{
    display: flex;
    height: fit-content;
}
.site-nav
{
    display: flex;
    place-content: center;
    gap: 1rem;
}

.site-nav-link
{
    color: var(--text-color);
    text-decoration: none;

    &:hover
    {
        color: var(--text-color-invert);
    }
}

.page-title
{
    width: 100%;
    text-align: center;
    margin-top: 1rem;
}

.site-main
{
    width: 100%;
    max-width: var(--content-width);

    padding-top: var(--header-height);
    padding-inline: var(--site-padding);

    place-self: center;

    p a
    {
        font-weight: 800;
        text-decoration: underline;
    }
}

.site-footer
{
    margin-block: var(--header-height);
    display: flex;
    flex-direction: column;
    width: 100%;
    place-items: center;
    gap: 1rem;
    padding-inline: var(--site-padding);
}

.site-footer-socials
{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.post-list,
.post-list-plain
{
    display: flex;
    flex-direction: column;
    padding: 0;
    margin-top: 0.8rem;
}

.post-list
{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.post-list-link
{
    height: 100%;
    &:hover
    {
        .post-list-thumbnail{
            opacity: 0.8;
        }
    }
}

.post-list-plain
{
    gap: 1rem;

    .post-list-link
    {
        .post-list-title
        {
        }
        .post-list-description
        {
            display: none;
            font-size: 90%;
        }
    }
}

.post-navigation-list 
{
    bottom: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    align-items: center;
    list-style: none;
    width: 100%;
    padding: 0;
    height: var(--footer-height);

    .post-navigation-prev { justify-self: flex-start; text-align: left; }
    .post-navigation-index { justify-self: center; text-align: center; }
    .post-navigation-next { justify-self: flex-end; text-align: right; }
}

.project-video-wrapper
{
    margin-top: 0.8rem;
    width: 100%;
    border: none;
}

.project-video
{
    width: 100%;
    height: 250px;
    border: none;
}
.album-cover-wrapper{}
.album-cover{}


.music-tracks 
{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;

    .music-track-iframe 
    {
        margin-top: 0.8rem;
        max-height: 120px;
        max-width: 700px;
        height: 100%;
        width: 100%;
        border: none;
    }
}

