---
layout: base.njk
---
<div class="page-title-wrapper">
    <h1 class="page-title-art">{{ artwork.name }}</h1>
</div>

<article class="page-content">
    {{ content | safe }}
</article>

{% include 'components/postNavigation.njk' %}
