---
layout: base.njk
---
<div class="page-title-wrapper">
    <h1 class="page-title">{{ artwork.name }}</h1>
</div>

<article class="page-content">
    {{ content | safe }}
</article>

{% include 'components/paginationNavigation.njk' %}

<style>
.page-title
{
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-decoration: none;
    line-clamp: 1;
    -webkit-line-clamp: 1;
}
</style>