<!DOCTYPE html>
<html lang="en">
    {% include 'components/head.njk' %}
    <body>
        <div class="site-wrapper">
            {% include 'components/navigation.njk' %}
            <main class="site-main">
                {{ content | safe }}
            </main>
            {% include 'components/footer.njk' %}
        </div>
    </body>
</html>
<!--<script src="https://unpkg.com/@famebot/chromagen/dist/chromagen.umd.js">
</script>-->
<script>
    /*
    const colorScheme = chromagen();

    const docstyle = document.documentElement.style;

    // create a few helper strings to keep the code readable
    const baseBg     = `hsl(${colorScheme.hue}, ${colorScheme.saturation}, ${colorScheme.darkness})`;
    const baseText   = `hsl(${colorScheme.hue}, ${colorScheme.saturation}, ${colorScheme.lighter})`;

    const analogBg   = `hsl(${colorScheme.analogous}, ${colorScheme.saturation}, ${colorScheme.darker})`;
    const analogText = `hsl(${colorScheme.analogous}, ${colorScheme.saturation}, ${colorScheme.lightness})`;

    const compBg     = `hsl(${colorScheme.complement}, ${colorScheme.saturation}, ${colorScheme.darkness})`;
    const compText   = `hsl(${colorScheme.complement}, ${colorScheme.saturation}, ${colorScheme.lighter})`;
    const compBright = `hsl(${colorScheme.complement}, ${colorScheme.saturation}, ${colorScheme.lightness})`;

    // set specific target properties
    docstyle.setProperty('--heading-background-color', compBg);
    docstyle.setProperty('--heading-text-color', compText);
    docstyle.setProperty('--text-color', baseText);
    docstyle.setProperty('--text-background-color', baseBg);
    docstyle.setProperty('--link-text-color', analogText);
    docstyle.setProperty('--link-text-color-visited', analogBg);
    docstyle.setProperty('--link-text-color-highlight', compBright);
    docstyle.setProperty('--link-text-color-active', compBright);
    docstyle.setProperty('--link-background-color', analogBg);
    */
</script>
