---
layout: base.njk
---
<h1>Joseph Kenyon</h1>

<article>
    {{ content | safe -}}
</article>

<div class="home-sections">
    <p>Explore my <a href="/projects">Projects</a>, listen to my <a href="/music">Music</a>, or browse my <a href="/art">Art Gallery</a>.</p>
</div>