---
layout: base.njk
---
<div class="page-title-wrapper">
    <h1 class="page-title">{{ title }}</h1>
</div>

<article class="page-content">

    {% if thumbnail %}
    <div class="album-cover-wrapper">
        <figure class="album-cover">
            {% image thumbnail, title %}
        </figure>
    </div>
    {% endif %}

    <div class="music-tracks">

        {% for track in tracks %}

            <iframe 
            class="music-track-iframe" 
            src="https://bandcamp.com/EmbeddedPlayer/track={{track.id}}/size=medium/linkcol=333333/bgcol=ffffff/transparent=true/"
            loading="lazy"
            ></iframe>

        {% endfor %}

    </div>
</article>

{% include 'components/postNavigation.njk' %}



