---
layout: base.njk
---
<h1>{{ title }}</h1>

{% if video %}

    <iframe style="width: 100%; height: 20rem; border: none;" src={{video}} allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen loading="lazy">
    </iframe>

{% endif %}

<article>
    {{ content | safe }}
</article>

{% include 'components/postNavigation.njk' %}

