---
layout: base.njk
---
<div class="page-title-wrapper">
    <h1 class="page-title">{{ title }}</h1>
</div>

<div class="page-content">
    {% if collectionKey == "art" %}
        <div class="art-grid">
            {% for artwork in images %}
                <div class="art-grid-item">
                    <a href="/art/{{ artwork.slug | slugify }}/" class="art-grid-link">
                        {% image "./imgs/" + artwork.src, artwork.name %}
                    </a>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <ul class="post-list">
            {% for item in collections[collectionKey] %}
                <li class="post-list-item">
                    <a href="{{ item.url }}" class="post-list-link">
                        {% if item.data.thumbnail %}
                            <figure class="post-list-thumbnail">
                                {% image item.fileSlug + "/" + item.data.thumbnail, item.data.thumbnail %}
                            </figure>
                        {% endif %}

                        <div class="post-list-content">
                            <span class="post-list-title">
                                {% if item.data.title %}
                                    {{ item.data.title }}
                                {% else %}
                                    <code>{{ item.url }}</code>
                                {% endif %}
                            </span>

                            {% if item.data.description %}
                                <summary class="post-list-description">{{ item.data.description }}</summary> 
                            {% endif %}
                        </div>
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}

{{ content | safe }}
</div>
