---
layout: base.njk
---
<div class="page-title-wrapper">
    <h1 class="page-title">{{ title }}</h1>
</div>

<div class="page-content">
    {% if collectionKey == "art" %}
        <div class="art-grid">
            {% for artwork in images %}
                <div class="art-grid-item">
                    <a href="/art/{{ artwork.slug | slugify }}/" class="art-grid-link">
                        {% image "./imgs/" + artwork.src, artwork.name %}
                    </a>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <ul class="post-list">
            {% for item in collections[collectionKey] %}
                <li class="post-list-item">
                    <a href="{{ item.url }}" class="post-list-link">
                        {% if item.data.thumbnail %}
                            <figure class="post-list-thumbnail">
                                {% image item.fileSlug + "/" + item.data.thumbnail, item.data.thumbnail %}
                            </figure>
                        {% endif %}

                        <div class="post-list-content">
                            <span class="post-list-title">
                                {% if item.data.title %}
                                    {{ item.data.title }}
                                {% else %}
                                    <code>{{ item.url }}</code>
                                {% endif %}
                            </span>

                            {% if item.data.description %}
                                <summary class="post-list-description">{{ item.data.description }}</summary> 
                            {% endif %}
                        </div>
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}

{{ content | safe }}
</div>

<style>
.art-grid 
{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: var(--vspace);
}

.art-grid-item img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    aspect-ratio: 1/1;
}

.art-grid-link 
{
    display: block;
    transition: transform 0.2s;
}

.art-grid-link:hover 
{
    transform: scale(1.02);
}

.post-list 
{
    list-style: none;
    padding: 0;
    background-color: transparent;
}

.post-list-item 
{
    --thumbnail-size: 128px;
    --thumbnail-size-sm: 100px;

    display: flex;
    align-items: center;
    margin-block-end: 1em;

    line-height: var(--article-line-height-heading);

    background-color: transparent;

    &:last-of-type
    {
        margin-block-end: 0em;
    }

    .post-list-content
    {
        display: flex;
        flex-direction: column;
    }

    .post-list-description
    {
        font-size: 1em; /* 19px /16 */
        font-weight: 500;
        flex-basis: 100%;
        text-underline-position: from-font;
        text-underline-offset: 0;
        text-decoration-thickness: 1px;
        background-color: var(--background-color);
    }

    .post-list-title
    {
        font-size: 1.1875em; /* 19px /16 */
        font-weight: 700;
        flex-basis: 100%;
        text-underline-position: from-font;
        text-underline-offset: 0;
        text-decoration-thickness: 1px;
    }

    .post-list-thumbnail, img
    {
        display: block;
    }

    .post-list-thumbnail
    {
        margin: 0;
        margin-inline-end: 1em;
        min-width: var(--thumbnail-size);
    }

    img
    {
        height: var(--thumbnail-size);
        width: var(--thumbnail-size);
        object-fit: cover;
    }

    .post-list-link
    {
        display: flex;
	    flex-direction: row;
        background-color: transparent;
        align-items: center;
        width: fit-content;

        &:hover
        {
            img{opacity: 0.8;}
        }
    }
}

@media screen and (max-width: 420px) 
{
    .post-list-item 
    {
        flex-wrap: wrap;
        width: 100%;

        .post-list-link
        {
            flex-direction: column;
            width: 100%;
            align-items: center;

            .post-list-title
            {
                width: 100%;
                text-align: center;
            }
        }

        .post-list-thumbnail
        {
            min-width: none;
            width: 100%;
            background-color: var(--background-color);
            display: flex;
            margin: auto 0;
        }

        img
        {
            object-fit: contain;
            display: flex;
            width: 100%;
        }
        picture
        {
            margin: auto 0;
            width: 100%;
        }
    }
}
</style>