.site-header
{
    padding-bottom: var(--article-h1-vspace);
    padding-top: var(--article-h1-vspace);

	--nav-link-height: calc(var(--nav-link-size) + 1em);
	--logo-size: var(--nav-link-height );
    
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	.site-logo,
	#joe
	{
		background-color: transparent;
		transition: all 0.2s ease;
		height:  var(--logo-size);
		display: block;

		&:hover, 
		&:focus,
		&:active 
		{
			opacity: 0.8;
			scale: 1.02;
		}

		picture
		{
			height: 100%;

			img
			{
				object-fit: cover;
				height: var(--logo-size);
				width: auto;
			}
		}
	}

	.site-nav 
	{
		padding: 0;
		margin: 0;
		list-style: none;
		display: flex;
		height: var(--nav-link-height);

		gap: var(--article-h1-vspace);

		.site-nav-link
		{
			text-decoration: none;
			font-size: var(--nav-link-size);
			font-family: var(--font-printer);
			align-content: center;
			height: 100%;

			&:not(:hover) 
			{
				text-decoration: none;
			}

			&[aria-current="page"] 
			{
				text-decoration: underline;
				color: var(--link-text-color-active);
			}
		}
	}

	@media screen and (max-width: 600px) 
	{
		--logo-size: 4.5rem;
		height: auto;

		&
		{
			flex-direction: column;
			width: 100%;
			justify-content: unset;
			gap: var(--article-h1-vspace);
		}

		.site-nav
		{
			margin: auto 0;
			width: fit-content;
			gap: var(--article-h1-vspace);
			.site-nav-link
			{
				margin-inline-end: 0;
			}
		}
		.site-logo
		{
			width: fit-content;
			margin: 0 0 0;
			picture
			{
				width: 100%;
				justify-content: center;
			}
		}
	}

	/* even smaller */
	@media screen and (max-width: 425px) 
	{
		&
		{
			height: 100%;
		}
		.site-nav
		{
			flex-direction: column;
			height: 100%;
			width: 100%;

			.site-nav-link
			{
				width: 100%;
				height: calc(var(--nav-link-height) * 0.8);
			}
		}
	}
}

.site-wrapper
{
	margin: 0 auto;
	max-width: var(--max-site-width);
	padding-inline: calc(var(--vspace) / 2);
	position: relative;
}

article .page-content ol, 
article .page-content ul
{
	background-color: var(--text-background-color);
}

.site-main 
{
	font-size: var(--article-font-size);
	padding: 0 0;
	position: relative;
}

.site-main .page-content p:has(img)
{
	max-width: 100%;
	height: fit-content;
	width: 100%;
	background-color: transparent;
	display: flex;
	place-content: center;

	picture
	{
		display: flex;
		background-color: transparent;
		width: 100%;
		max-width: 100%;
	}

	img
	{
		object-fit: contain;
		width: 100%;
		height: auto;
		max-height: var(--max-img-height);
		background-color: var(--link-text-color-active);
	}
}

.site-footer 
{
	/* Layout & Spacing */
	padding-top: var(--article-h1-vspace);
	padding-bottom: var(--article-h1-vspace);;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	
	/* Component Variables & Internal Styles */
	--icon-size: 1.9rem;

	.site-footer-copy 
	{
		margin: 0;
		line-height: var(--icon-size);
		font-size: var(--article-h3-size);
		font-weight: 700;
	}

	.site-footer-socials {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: var(--article-h1-vspace);
		background-color: var(--background-color);

		.site-footer-link {
			text-decoration: none;
			display: flex;
			align-items: center;
		}

		svg {
			width: var(--icon-size);
			height: var(--icon-size);
			fill: currentColor;
			display: inline-block;
			vertical-align: middle;
		}
	}
}

/* --- Footer Responsive Breakpoint --- */
@media screen and (max-width: 720px) {
	.site-footer {
		flex-direction: column;
		gap: var(--article-h1-vspace);
		justify-content: center;

		p {
			margin: 0;
		}
	}
}

.post-navigation-list
{
	display: grid;
	grid-template-columns: 1fr 1fr;
	list-style: none;
	padding: var(--article-h1-vspace) 0 0 0;
	margin: 0;
	height: 100%;

	.post-navigation-item
	{
		background-color: transparent;
	}

	background-color: transparent;

	.post-navigation-link
	{
		text-decoration: none;
		height: 100%;
		display: block;

		.post-navigation-title
		{
			overflow: hidden;
			display: -webkit-box;
			-webkit-box-orient: vertical;
			text-decoration: underline;
			line-clamp: 1;
			-webkit-line-clamp: 1;
		}
	}

	.post-navigation-prev,
    .post-navigation-back:first-child
	{
		justify-self: flex-start;
	}

	.post-navigation-next,
    .post-navigation-back:last-child
	{
		justify-self: flex-end;
		text-align: right;
	}
}

.site-main .page-title-wrapper
{
	height: fit-content;
	display: flex;
	flex-direction: column;
}
.site-main .page-title
{
	width: 100%;
	height: 100%;
	background-color: var(--heading-background-color);
	margin: 0;
}

@media screen and (max-width: 420px)
{
	.site-main .page-title
	{
		width: 100%;
	}
}

pre[class*="language-"],
code[class*="language-"] 
{
  font-size: var(--article-code-size) !important;        /* Change this to your preferred size */
  line-height: var(----article-line-height-body) !important;                     /* Gives the code some breathing room */
  font-family: var(--font-vcr) !important; /* Optional: enforce your preferred code font */
  border-radius: 0 !important;
}
pre[class*="language-"]
{
	margin: 0 !important;
	margin-bottom: var(--article-font-vspace) !important;
}
pre[class*="language-"]:last-child
{
	margin-bottom: 0 !important;
}

.page-content
{
	padding-top: 0;
}

/* Extracted from _includes/components/navigation.njk */


/* Extracted from _includes/root.njk */
.art-grid 
{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: var(--article-h1-vspace);
}

.art-grid-item img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    aspect-ratio: 1/1;
}

.art-grid-link 
{
    display: block;
    transition: transform 0.2s;
}

.art-grid-link:hover 
{
    transform: scale(1.01);
}

.post-list 
{
    list-style: none;
    padding: 0;
    background-color: transparent;
	display: flex;
	flex-direction: column;
	gap: var(--article-h1-vspace);
}

.post-list-item 
{
    --thumbnail-size: 128px;
    --thumbnail-size-sm: 100px;

    display: flex;
    align-items: center;

    line-height: var(--article-line-height-heading);

    background-color: transparent;

    &:last-of-type
    {
        margin-block-end: 0em;
    }

    .post-list-content
    {
        display: flex;
        flex-direction: column;
    }

    .post-list-description
    {
        font-size: var(--post-list-desc-size); /* 19px /16 */
        font-weight: 500;
        flex-basis: 100%;
        text-underline-position: from-font;
        text-underline-offset: 0;
        text-decoration-thickness: 1px;
        background-color: var(--link-background-color);
    }

    .post-list-title
    {
        font-size: var(--post-list-title-size); /* 19px /16 */
        font-weight: 700;
        flex-basis: 100%;
        text-underline-position: from-font;
        text-underline-offset: 0;
        text-decoration-thickness: 1px;
    }

    .post-list-thumbnail, img
    {
        display: block;
    }

    .post-list-thumbnail
    {
        margin: 0;
        margin-inline-end: var(--article-h1-vspace);
        min-width: var(--thumbnail-size);
    }

    img
    {
        height: var(--thumbnail-size);
        width: var(--thumbnail-size);
        object-fit: cover;
    }

    .post-list-link
    {
        display: flex;
	    flex-direction: row;
        background-color: transparent;
        align-items: center;
        width: fit-content;

        &:hover
        {
            img{opacity: 0.8;}
        }
    }
}

@media screen and (max-width: 420px) 
{
    .post-list-item 
    {
        flex-wrap: wrap;
        width: 100%;

        .post-list-link
        {
            flex-direction: column;
            width: 100%;
            align-items: center;

            .post-list-title
            {
                width: 100%;
                text-align: center;
            }
        }

        .post-list-thumbnail
        {
            min-width: none;
            width: 100%;
            background-color: var(--link-background-color);
            display: flex;
            margin: auto 0;
        }

        img
        {
            object-fit: contain;
            display: flex;
            width: 100%;
        }
        picture
        {
            margin: auto 0;
            width: 100%;
        }
    }
}

/* Extracted from _includes/music.njk */
.album-cover-wrapper
{
    margin: 0;
}
.album-cover
{
        
    width: 100%;
    max-height: 50svh;
    aspect-ratio: 1/1;
    height: 100%;

    padding-bottom: var(--article-h1-vspace);

    margin: 0;

    picture
    {   
        width: 100%;
        display: flex;
    }

    display: flex;

    img
    {
        object-fit: contain;
        max-width: 100%;
        max-height: 100%;
        width: fit-content;
        margin: 0 auto;
    }

}
.music-tracks
{
    display: flex;
    flex-direction: column;

    gap: var(--vspace);

    width: 100%;

    .music-track-iframe
    {
        max-height: 120px;
        max-width: 700px;
        height: 100%;
        width: 100%;
        margin: 0 auto;
        border: none;
    }
}

/* Extracted from _includes/projects.njk */
.project-video-wrapper
{
    width: 100%;
    height: var(--video-height);
    border: none;
    padding-block: var(--article-font-vspace);
    margin: 0;
	background-color: transparent;

	iframe
	{
		height: 100%;
		width: 100%;
		border: 0;
	}

}

/* Extracted from _includes/art.njk */
.page-title-wrapper
{
	margin-block-end: var(--article-h1-vspace);
}
.page-title
{
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-decoration: none;
    line-clamp: 1;
    -webkit-line-clamp: 1;
}

/* Extracted from content/art/piece.njk */
.artwork-full img 
{
	max-width: 100%;
	height: auto;
	display: block;
	margin: 0 auto;
}
