/* Defaults */
@font-face 
{
  font-family: 'BankPrinter';
  src: url('/fonts/F25_Bank_Printer.otf') format('opentype'),
       url('/fonts/F25_Bank_Printer.ttf') format('truetype');
  font-weight: normal;
  font-display: swap;
}
@font-face 
{
  font-family: 'BankPrinter';
  src: url('/fonts/F25_Bank_Printer_Bold.otf') format('opentype'),
       url('/fonts/F25_Bank_Printer_Bold.ttf') format('truetype');
  font-weight: bold;
  font-display: swap;
}

@font-face 
{
  font-family: 'VCR_OSD_Mono';
  src: url('/fonts/VCR_OSD_MONO_1.001.ttf') format('truetype');
  font-weight: normal;
  font-display: swap;
}

:root 
{
	--article-font-size: 1rem;
	--article-h1-size: 2em;
	--article-h2-size: 1.5em;
	--article-h3-size: 1.25em;
	--article-h4-size: 1.125em;
	--article-h5-size: 1.06125em;
	--article-h6-size: 1em;

	--nav-link-size: var(--article-h3-size);

	--article-code-size: 0.9em;

	--post-list-title-size: var(--article-h2-size);
	--post-list-desc-size: var(--article-font-size);

	--article-line-height-body: 1.5;
	--article-line-height-heading: 1.25;


	--font-family: -apple-system, system-ui, sans-serif;
	--font-family-monospace: Consolas, Menlo, Monaco, Andale Mono WT, Andale Mono,
		Lucida Console, Lucida Sans Typewriter, DejaVu Sans Mono,
		Bitstream Vera Sans Mono, Liberation Mono, Nimbus Mono L, Courier New,
		Courier, monospace;
	--syntax-tab-size: 4;

	--heading-background-color: black;
	--heading-text-color: white;

	--text-color: white;
	--text-background-color: black;

	--link-text-color: white;
	--link-text-color-visited: purple;
	--link-text-color-highlight: hotpink;
	--link-text-color-active: hotpink;
	--link-background-color: black;

	--font-vcr: "VCR_OSD_Mono";
	--font-printer: "BankPrinter";

	--article-line-height-body: 1.5;
	--article-line-height-heading: 1.25;

	--max-site-width: 80ch;

	--vspace: 0.5em;

	--video-height: 20em;
	--max-img-height: 40em;
	--list-padding: 2.5em;
	
	--article-font-vspace: calc(var(--vspace)*1);
	--article-h1-vspace:   calc(var(--vspace)*2);
	--article-h2-vspace:   calc(var(--vspace)*1.5);
	--article-h3-vspace:   calc(var(--vspace)*1.25);
	--article-h4-vspace:   calc(var(--vspace)*1);
	--article-h5-vspace:   calc(var(--vspace)*1);
	--article-h6-vspace:   calc(var(--vspace)*1);
}

@view-transition 
{
	navigation: auto;
}

/* Global stylesheet */
* {
	box-sizing: border-box;
}

html,
body 
{
	padding: 0;
	margin: 0 auto;
	font-family: var(--font-family);
	font-family:Verdana, Geneva, Tahoma, sans-serif;
	color: var(--text-color);
}

html 
{
    background-image: url("./background.png");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

	height: 100vh;
	height: 100svh;

	overflow: hidden;
}

body 
{
	padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
    height: 100%; 
    overflow-y: auto; 
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
}

h1{ margin-block-end: var(--article-h1-vspace);  font-size: var(--article-h1-size);}
h2{ margin-block-end: var(--article-h2-vspace);  font-size: var(--article-h2-size);}
h3{ margin-block-end: var(--article-h3-vspace);  font-size: var(--article-h3-size);}
h4{ margin-block-end: var(--article-h4-vspace);  font-size: var(--article-h4-size);}
h5{ margin-block-end: var(--article-h5-vspace);  font-size: var(--article-h5-size);}
h6{ margin-block-end: var(--article-h6-vspace);  font-size: var(--article-h6-size);}
p { margin-block-end: var(--article-font-vspace);font-size: var(--article-font-size);}
h1{margin-block-start: 0;}

h1,h2,h3,h4,h5,h6,p,ol,ul{margin-block-start: 0;}
h1,h2,h3,h4,h5,h6 
{
	line-height: var(--article-line-height-heading);
	width: fit-content;
	background-color: var(--heading-background-color);
	color: var(--heading-text-color);
}

ul:first-child, 
ol:first-child, 
p :first-child,
h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child
{
	margin-block-start: 0;
}

ul:last-child, 
ol:last-child, 
p:last-child
{
    margin-bottom: 0;
    margin-block-end: 0;
}

article
{
	ul:last-child, 
	ol:last-child
	{
		margin-bottom: 0;
	}
}

p,li, ul, ol
{
	line-height: var(--article-line-height-body);
	background-color: var(--text-background-color);
	color: var(--text-color);
}

ul, menu, dir,ol
{
	margin-block-start: 0;
	margin-block-end: var(--article-font-vspace);
	padding-inline-start: var(--list-padding);
}

a, a span, a summary
{
	color: var(--link-text-color);
	background-color: var(--link-background-color);
}

a span:focus,
a span:hover
a:focus,
a:hover,
a summary:focus,
a summary:hover
{
	color: var(--link-text-color-highlight);
	span{color: var(--link-text-color-highlight);}
	summary{color: var(--link-text-color-highlight);}
}

a span:active
a:active 
{
	color: var(--link-text-color-active);
	span{color: var(--link-text-color-active);}
	summary{color: var(--link-text-color-active);}
}