@import "tailwindcss";
@plugin '@tailwindcss/typography';

@theme 
{
  --font-printer: "BankPrinter";
  --font-label: "ImpactLabel";
  --font-label-rev: "ImpactLabelReversed";
}

:root
{
    --text: black;
    --width: 900px;
}
html,
body {
  height: 100%;
  overscroll-behavior: none;
}

html
{
  @apply font-printer;
}
.pageTitle
{
  @apply  bg-white w-fit text-4xl mx-auto mb-4 p-0;
  box-shadow: 5px 5px 0px 0px black;
  @apply z-1;
}

.shadowBox {
  box-shadow: 10px 10px 0px 0px black;
}
.shadowText{@apply text-shadow-[5px_5px_0px] text-shadow-black;}


#bg
{
    background-image: url("/trustme.png");
    @apply fixed inset-0 pointer-events-none -z-10 bg-cover bg-top;
}

/* FONTS */

/* 3. F25 Bank Printer (Grouped Bold and Regular) */
@font-face {
  font-family: 'BankPrinter';
  src: url('/fonts/F25_Bank_Printer.otf') format('opentype'),
       url('/fonts/F25_Bank_Printer.ttf') format('truetype');
  font-weight: normal;
  font-display: swap;
}
@font-face {
  font-family: 'BankPrinter';
  src: url('/fonts/F25_Bank_Printer_Bold.otf') format('opentype'),
       url('/fonts/F25_Bank_Printer_Bold.ttf') format('truetype');
  font-weight: bold;
  font-display: swap;
}

/* 4. Impact Label */
@font-face {
  font-family: 'ImpactLabel';
  src: url('/fonts/Impact Label.ttf') format('truetype');
  font-display: swap;
}
@font-face {
  font-family: 'ImpactLabelReversed';
  src: url('/fonts/Impact Label Reversed.ttf') format('truetype');
  font-display: swap;
}
