@import "tailwindcss";
@plugin '@tailwindcss/typography';

@theme 
{
  --font-printer: "BankPrinter";
  --font-label: "ImpactLabel";
  --font-label-rev: "ImpactLabelReversed";
}

:root
{
    --text: black;
    --width: 900px;
}
html
{
}
body
{
    @apply p-2 max-w-7xl mx-auto w-full;
    @apply font-printer;
}
main
{
    @apply bg-transparent gap-4 lg:flex-1 flex lg:flex-col flex-col overflow-hidden ;
}

@utility prose 
{
  --tw-prose-body: var(--text);
  --tw-prose-headings: var(--text);
}

#bg
{
    background-image: url("/trustme.png");
    
    @apply fixed inset-0 pointer-events-none -z-10 opacity-100 bg-cover bg-top;
}

.prose, body
{
      p,ol,ul,div
  {
    @apply drop-shadow-[4px_4px_0px] drop-shadow-black;
  }

  p,h1,h2,h3,h4,h5,h6,li,ol,ul
  {
    padding:revert;margin:0;
    font-weight: revert; font-size: revert;
    @apply font-printer;
    @apply bg-white w-full;
  }

  li::marker
  {
    color:black;
    
  }

  h1 {@apply text-6xl;}
  h2 {@apply text-4xl;}
  h3 {@apply text-3xl;}
  h4 {@apply text-2xl;}
  h5 {@apply text-xl;}
  p,li {@apply text-sm}
}



.prose
{

    @apply flex flex-col gap-4 max-w-full;
    h3,h1,h2
    {
      @apply font-label bg-white w-fit font-thin overflow-hidden text-pretty leading-none;
    }



    p:has(img)
    {
        @apply bg-transparent border-0 flex flex-col gap-4;

        img
        {
            @apply bg-white max-h-[90svh] mx-auto my-0;
        }
    }
}

/* FONTS */

/* 3. F25 Bank Printer (Grouped Bold and Regular) */
@font-face {
  font-family: 'BankPrinter';
  src: url('/fonts/F25_Bank_Printer.otf') format('opentype'),
       url('/fonts/F25_Bank_Printer.ttf') format('truetype');
  font-weight: normal;
}
@font-face {
  font-family: 'BankPrinter';
  src: url('/fonts/F25_Bank_Printer_Bold.otf') format('opentype'),
       url('/fonts/F25_Bank_Printer_Bold.ttf') format('truetype');
  font-weight: bold;
}

/* 4. Impact Label */
@font-face {
  font-family: 'ImpactLabel';
  src: url('/fonts/Impact Label.ttf') format('truetype');
}
@font-face {
  font-family: 'ImpactLabelReversed';
  src: url('/fonts/Impact Label Reversed.ttf') format('truetype');
}
