@import "tailwindcss";
@plugin '@tailwindcss/typography';

@theme 
{
  --font-printer: "BankPrinter";
  --font-label: "ImpactLabel";
  --font-label-rev: "ImpactLabelReversed";

  --font-mono: Geist mono, monospace;

  --animate-marquee: marquee 50s linear infinite;

  @keyframes marquee {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
}

/* FONTS */

/* 3. F25 Bank Printer (Grouped Bold and Regular) */
@font-face {
  font-family: 'BankPrinter';
  src: url('/fonts/F25_Bank_Printer.otf') format('opentype'),
       url('/fonts/F25_Bank_Printer.ttf') format('truetype');
  font-weight: normal;
  font-display: swap;
}
@font-face {
  font-family: 'BankPrinter';
  src: url('/fonts/F25_Bank_Printer_Bold.otf') format('opentype'),
       url('/fonts/F25_Bank_Printer_Bold.ttf') format('truetype');
  font-weight: bold;
  font-display: swap;
}

/* 4. Impact Label */
@font-face {
  font-family: 'ImpactLabel';
  src: url('/fonts/Impact Label.ttf') format('truetype');
  font-display: swap;
}
@font-face {
  font-family: 'ImpactLabelReversed';
  src: url('/fonts/Impact Label Reversed.ttf') format('truetype');
  font-display: swap;
}
