---
eleventyNavigation:
  key: About
eleventyExcludeFromCollections: ["about"]
layout: post.njk
title: About
collectionKey: about
---
<h2>Education</h2>
<ul class="cv-list">
  {% for item in about.education %}

    <li class="cv-list-item">

      <div>
        <span class="cv-list-title">{{ item.title }}</span>
        <span class="cv-list-date">{{ item.date }}</span>
      </div>
      
      <span class="cv-list-subhead">{{ item.subhead }}</span>

      <ul class="cv-list-desc">
        {% for line in item.desc %}
          <li class="cv-list-desc-item">{{ line }}</li>
        {% endfor %}
      </ul>

    </li>
  {% endfor %}
</ul>

<h2>Awards & Recognition</h2>
<ul class="cv-list">
  {% for item in about.awards %}

    <li class="cv-list-item">

      <div>
        <span class="cv-list-title">{{ item.title }}</span>
        <span class="cv-list-date">{{ item.date }}</span>
      </div>
      
      <span class="cv-list-subhead">{{ item.subhead }}</span>

      <ul class="cv-list-desc">
        {% for line in item.desc %}
          <li class="cv-list-desc-item">{{ line }}</li>
        {% endfor %}
      </ul>

    </li>
  {% endfor %}
</ul>

<h2>Professional Experience</h2>
<ul class="cv-list">
  {% for item in about.experience %}

    <li class="cv-list-item">

      <div>
        <span class="cv-list-title">{{ item.title }}</span>
        <span class="cv-list-date">{{ item.date }}</span>
      </div>

      <span class="cv-list-subhead">{{ item.subhead }}</span>

      <ul class="cv-list-desc">
        {% for line in item.desc %}
          <li class="cv-list-desc-item">{{ line }}</li>
        {% endfor %}
      </ul>

    </li>
  {% endfor %}
</ul>