{% image "./public/background.png", "background" %}

<style>
picture:has(img[alt="background"])
{
    position: fixed;
    inset: 0;
    pointer-events: none;
    z-index: -11;
    display: block;
}

picture:has(img[alt="background"]) img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
</style>