<footer class="site-footer">
    <div class="site-footer-copy"><p>&copy; {{ meta.siteName }}</p></div>

    <div class="site-footer-socials">

        {% for entry in meta.socials %}

            {% set socialName = entry.split("::")[0] %}
            {% set socialUrl = entry.split("::")[1] %}
            
            <a href="{{ socialUrl }}" target="_blank" rel="noopener noreferrer" aria-label="{{ socialName }}" class="site-footer-link">
                {{ socialName | safe }}
            </a>

        {% endfor %}

    </div>

</footer>
