<footer>
        <p>&copy; {{ meta.siteName }}{% if meta.author.name %}{% endif %}</p>
        <div>
            {%- for entry in meta.socials %}
                {# Split the "name::url" string #}
                {% set socialName = entry.split("::")[0] %}
                {% set socialUrl = entry.split("::")[1] %}

                <a href="{{ socialUrl }}" target="_blank" rel="noopener noreferrer" aria-label="{{ socialName }}">
                    {# Look up the icon using the socialName as the key #}
                    {{ icons[socialName] | safe }}
                </a>
            {% endfor %}
        </div>
</footer>

<style>
footer 
{
    --icon-size: 1.9rem;
    p 
    {
        margin: 0;
        line-height: var(--icon-size);
        font-size: 1em;
        font-weight: 700;
        margin-inline-end: 2em;
    }

    div 
    {
        display: flex;
        flex-direction: row;
        align-items: center;

        gap: 1rem;

        background-color: var(--background-color)

        a 
        {
            text-decoration: none;
            display: flex;
            align-items: center;
        }

        svg 
        {
            width: var(--icon-size);
            height: var(--icon-size);
            fill: currentColor;
            display: inline-block;
            vertical-align: middle;
        }
    }
}

@media screen and (max-width: 720px) 
{
	footer 
	{
		flex-direction: column;
		gap: 1rem;
		justify-content: center;

		p
		{
			margin: 0;
		}
	}
}
</style>