<header class="site-header">

  <a href="/" id="joe" class="site-logo">
    {% image "./public/kesagians.svg", "joe logo" %}
  </a>

  <nav class="site-nav">

    {% for entry in collections.all | eleventyNavigation %}

      <a href="{{ entry.url }}"
        class="site-nav-link"
        {% if collectionKey in entry.url or entry.url == page.url %} 
          aria-current="page"
        {% endif %}

      >
        {{ entry.title }}
      </a>
    
    {% endfor %}

  </nav>
</header>
