<nav>
    <ul>
        {# Previous Link #}
        {% if pagination.href.previous %}
            <li><a href="{{ pagination.href.previous }}">← Previous</a></li>
        {% else %}
            <li><a href="/{{collectionKey}}">← Back to index</a></li>
        {% endif %}

        {# Next Link #}
        {% if pagination.href.next %}
            <li><a href="{{ pagination.href.next }}">Next →</a></li>
        {% else %}
            <li><a href="/{{collectionKey}}">Back to index →</a></li>
        {% endif %}
    </ul>
</nav>