<nav class="pagination-navigation">
    <ul class="pagination-navigation-list">
        
        {# Previous Link #}
        {% if pagination.href.previous %}
            <li class="pagination-navigation-item pagination-navigation-prev">
                <a href="{{ pagination.href.previous }}" class="pagination-navigation-link">← Previous</a>
            </li>
        {% else %}
            <li class="pagination-navigation-item pagination-navigation-back">
                <a href="/{{collectionKey}}" class="pagination-navigation-link">← Back to index</a>
            </li>
        {% endif %}

        {# Next Link #}
        {% if pagination.href.next %}
            <li class="pagination-navigation-item pagination-navigation-next">
                <a href="{{ pagination.href.next }}" class="pagination-navigation-link">Next →</a>
            </li>
        {% else %}
            <li class="pagination-navigation-item pagination-navigation-back">
                <a href="/{{collectionKey}}" class="pagination-navigation-link">Back to index →</a>
            </li>
        {% endif %}

    </ul>
</nav>