{% if collections[collectionKey] and not pagination %}

    {% set previousPost = collections[collectionKey] | getPreviousCollectionItem %}
    {% set nextPost = collections[collectionKey] | getNextCollectionItem %}

    {% if nextPost or previousPost %}

        <nav class="post-navigation">
            <ul class="post-navigation-list">

                <li class="post-navigation-item post-navigation-prev">
                    {% if previousPost %}   
                        <a href="{{ previousPost.url }}" class="post-navigation-link">
                            ← Prev<br><!--<span class="post-navigation-title">{{ previousPost.data.title }}</span>-->
                        </a>
                    {% endif %}
                </li>

                <li class="post-navigation-item post-navigation-index">
                    <a href="/{{ collectionKey }}" class="post-navigation-link">
                        Index<br>
                    </a>
                </li>
            
                <li class="post-navigation-item post-navigation-next">
                    {% if nextPost %}
                        <a href="{{ nextPost.url }}" class="post-navigation-link">
                            Next →<!--<br><span class="post-navigation-title">{{ nextPost.data.title }}</span>-->
                        </a>
                    {% endif %}
                </li>

            </ul>
        </nav>

    {% endif %}

{% else %}
<nav class="post-navigation">
    <ul class="post-navigation-list">
        
        {# Previous Link #}
        <li class="post-navigation-item post-navigation-prev">
            {% if pagination.href.previous %}
                <a href="{{ pagination.href.previous }}" class="post-navigation-link">← Prev</a>
            {% endif %}
        </li>
        
         {# Back to index Link #}
        <li class="post-navigation-item post-navigation-index">
            <a href="/{{collectionKey}}" class="post-navigation-link">Index</a>
        </li>
        

        {# Next Link #}
        <li class="post-navigation-item post-navigation-next">
            {% if pagination.href.next %}
                <a href="{{ pagination.href.next }}" class="post-navigation-link">Next →</a>
            {% endif %}
        </li>
    </ul>
</nav>
{% endif %}