@import "tailwindcss";
@plugin "@tailwindcss/typography";

:root
{
  @apply bg-white;
  @apply font-mono;

  scrollbar-gutter: stable;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root
{
  @apply box-border flex flex-col gap-5;
  @apply min-h-svh max-w-svw overflow-x-clip px-3 sm:p-0;
}

h1,h2,h3,h4,h5,h6,p,li
{
  @apply text-[0.7rem];
}

ol
{
  @apply ml-[2.5rem];
  & > li { @apply list-decimal };
}

ul
{
  @apply ml-[2.5rem];
  & > li { @apply list-disc };
}

h1
{
  @apply text-[1rem];
}
h2
{
  @apply text-[0.9rem];
}
h3
{
  @apply text-[0.8rem];
}

h1,h2,h3,h4,h5,h6
{
  @apply font-black;
}

header
{
  @apply backdrop-blur-[1pt] top-0 sticky z-30 py-2;

  nav
  {
    @apply max-w-[700px] mx-auto grid grid-cols-[1fr_1.5fr_1fr_1fr] md:gap-4 gap-1 w-full;

    path
    {
      @apply h-auto;
    }
    
    svg
    {
      @apply w-full h-full fill-black/80 drop-shadow-[2px_2px_0px_white];
      @apply transition-all duration-100 ease-in-out;
    }

    a:hover
    {
      svg
      {
        @apply scale-105 fill-black/90;;
      }

      path
      {
        @apply fill-[hotpink];
      }
    }

    a.active
    {
      svg
      {
        @apply scale-105  drop-shadow-[0px_3px_0px_white] fill-[hotpink];        
      }
    }
  }
}

main
{
  @apply max-w-[700px] w-full place-self-center;
  & > div
  {
    @apply flex flex-col gap-4;

    a:hover
    {
      @apply underline;
    }

  }

  p > img
  {
    @apply object-contain w-full max-h-150 place-self-center mb-5;
  } 

  iframe
  {
    @apply aspect-video;
  }

}

.song
{
  @apply max-w-[700px] w-full h-full max-h-[42px];
}

.tagBox
{
  @apply flex sm:flex-row sm:gap-3 gap-x-3 gap-y-0 flex-wrap border w-fit;
}

#Music
{

  @apply grid grid-cols-2;

  & > a
  {
    @apply flex flex-col w-full;

    img
    {
      @apply object-contain h-full aspect-square w-full place-self-start;
    }
  }


}

footer
{
  @apply max-w-[700px] border-t py-10 mt-5 mx-auto w-full place-content-center;
  & > nav
  {
    @apply max-w-85 w-full mx-auto text-center flex flex-col gap-5;

    svg
    {
      @apply mx-auto max-w-60;
    }

    & > div
    {
      @apply flex flex-row w-full justify-between text-left flex-wrap;
      a
      {
        @apply w-fit text-[0.7rem];
      }
    }
  }

  a:hover
  {
    @apply underline;
  }
}

#Home
{
  & > div
  {
    @apply border-0;
  }
}