---
pagination:
  data: images
  size: 1
  alias: artwork
permalink: "/art/{{ artwork.slug | slugify }}/index.html"
eleventyExcludeFromCollections: true
---
<div class="artwork-full">
  {# Just add the 'imgs/' folder, don't repeat 'content/art' #}
  {% image "./imgs/" + artwork.src, artwork.name %}
</div>
